<select class="form-select" aria-label="Default select example">
  <option selected>類別</option>
  {{#each categories}}
  <option value="{{this.name}}">{{this.name}}</option>
  {{/each}}
</select>

<ul>
  {{#each records}}
  <li>
    {{this.name}}
  </li>
  {{/each}}
</ul>