<form action="/records" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">名稱<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">日期<span class="text-danger">*</span></label>
    <input type="date" class="form-control" id="date" name="date" required>
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">類別<span class="text-danger">*</span></label>
    <select name="categoryId" id="categoryId">
      <option selected>Select</option>
      {{#each categories}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">金額<span class="text-danger">*</span></label>
    <input type="number" class="form-control" id="amount" name="amount" required>
  </div>


  <button type="submit" class="btn btn-outline-light" style="background-color: #da710e;">新增支出</button>
</form>